/*************************************
* Styles for blog website: Sprint 1
* Peter Sim, October 2017
**************************************/

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #ffc;
}

h1 {
  font-size: 36pt;
  color: #006;
  text-shadow: 2px 2px white;
}

h2 {
  font-size: 24pt;
  color: #006;
  text-shadow: 1px 1px white;
}

/************************************
* Links: NB LVHA order
*************************************/
a.special:link, a.special:visited {
  background-color: #060;
  color: #fff;
  border: 2px solid #060;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  width: 150px;
  display: inline-block;
}

a.special:hover, a.special:active {
  background-color: #0c6;
  color: #006;
  font-weight: bolder;
}

/* But sometimes you don't want those effects: */
a.regular:link, a.regular:visited, a.regular:hover, a.regular:active {
  color: #060;
}

p, ul, a {
  font-family: Lora, serif;
  /* Lora loaded from Google Fonts */
}

.question {
  font-weight: bolder;
}

blockquote {
  font-family: Lora, serif;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-style: normal;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

img {
  border: 2px solid #000;
  vertical-align: top;
}

img.first {
  width: 600px;
}
img.second {
  width: 400px;
}
